@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
} */
main {
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  border-radius: 15px;
}
.result {
  display: flex;
  flex-direction: column;
  user-select: none;
}
input {
  pointer-events: none;
  background-color: #000;
  height: 3.5rem;
  font-size: 1.5rem;
  color: #fff;
  padding-inline: 7px;
  width: auto;
  overflow-x: auto;
  white-space: nowrap;
}
#inputF {
  text-align: end;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-block: 1vw;
}
.r {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}
.b {
  height: 3.4rem;
  width: 3.4rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #fff;
  background-color: #3e3d3d;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}
.b:active {
  background-color: rgb(211, 106, 88);
}
.t {
  background-color: #6d6d6d;
}
/* .cT {
  background-color: green;
  background-color: white;
} */
.fa-solid {
  background-color: tomato;
  height: 100%;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.cT:active {
  background-color: rgb(185, 109, 95);
}
.eL {
  width: 6.75rem;
  border-radius: 20px;
  height: 3.1rem;
  margin-right: 1.4rem;
}
